#widgetSharpSpringWidgetByAmperagegetSharpSpringInfo {
	.widget-body { padding:10px 15px; font-size:1.1em; overflow:auto; }
	.sharpspring-lead { margin:0 -15px; padding:1em 15px; display:block;
		strong,span { display:block; }
	}
	.sharpspring-lead:before { display:none; }
	.sharpspring-lead:after { content:''; display:block; clear:both; }
	.sharpspring-lead:hover,.sharpspring-lead:focus { text-decoration:none!important; filter:brightness(1.1); }
	.sharpspring-lead:active { text-decoration:none!important; filter:invert(20%); }
}